p {
font-family: 'bitter,'serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Anton', sans-serif;
}

.subhead {
background-color:#f4f4f4;
border: solid 1px black;
padding-left: 10px;
padding-top: 4px;
margin-bottom: 10px;
}

.leftgraph {
	float: left;
}
.photoRight {
float:right;
border:solid 1px #999;
padding:3px;
margin:0 0 20px 20px;
font-size:.75rem;
}

.footerStyle {
text-align:center;
background-color:#f4f4f4;
padding:20px;
}